.home_bg {
  background: url("https://i.ibb.co/zXCFHCz/charlesdeluvio-FK81rxil-UXg-unsplash.jpg");
  min-height: 85vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.header_title {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_title h1 {
  background: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 40px;
  font-weight: bold;
}
